%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %div.navbar-header
    = link_to 'Wireshark', root_path, class: 'navbar-brand glow'
  %div.sidenav
    = link_to 'File', root_path, class: 'glow'
    = link_to 'Edit', root_path, class: 'glow'
    = link_to 'Go', root_path, class: 'glow'
    = link_to 'Analyze', root_path, class: 'glow'
    = link_to 'Statistics', root_path, class: 'glow'
    = link_to 'Tools', root_path, class: 'glow'
    = link_to 'Help', root_path, class: 'glow'